WCF/WeatherClient/WeatherClient/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Celcius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="f" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelciusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelciusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Farenhit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FarenhitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FarenhitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>