WCF/EmployeeClient/EmployeeMVCClient/Service References/EmployeeClient/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://na03osdvp00679.aceins.com/EmployeeWCF/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://na03osdvp00679.aceins.com/EmployeeWCF/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://na03osdvp00679.aceins.com/EmployeeWCF/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AddEmployeeRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeRecord" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_AddEmployeeRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmployeeRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeRecord" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmployeeRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SearchEmployeeRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployeeRecord" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SearchEmployeeRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployeeRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmployeeRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeRecord" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmployeeRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetData" message="tns:IEmployeeService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetDataResponse" message="tns:IEmployeeService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployeeRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/AddEmployeeRecord" message="tns:IEmployeeService_AddEmployeeRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/AddEmployeeRecordResponse" message="tns:IEmployeeService_AddEmployeeRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployees" message="tns:IEmployeeService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeesResponse" message="tns:IEmployeeService_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmployeeRecord" message="tns:IEmployeeService_DeleteEmployeeRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmployeeRecordResponse" message="tns:IEmployeeService_DeleteEmployeeRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchEmployeeRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/SearchEmployeeRecord" message="tns:IEmployeeService_SearchEmployeeRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/SearchEmployeeRecordResponse" message="tns:IEmployeeService_SearchEmployeeRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmployeeRecord" message="tns:IEmployeeService_UpdateEmployeeRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmployeeRecordResponse" message="tns:IEmployeeService_UpdateEmployeeRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployeeRecord">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/AddEmployeeRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployeeRecord">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/DeleteEmployeeRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchEmployeeRecord">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/SearchEmployeeRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployeeRecord">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/UpdateEmployeeRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://na03osdvp00679.aceins.com/EmployeeWCF/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>